.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0 auto;
  gap: 8px;
  width: 360px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 8px;

  border: 1px solid #ccc;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;

  margin-top: 16px;

  background: #4e75ff;
}
